{% extends 'base.html.twig' %}

{% block title %}{{ 'site.header.login' | trans }}{% endblock %}

{% block body %}

    <div class="row justify-content-md-center py-3">
        <div class="col-md-6">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-fw fa-user"></i>
                        {{ 'site.header.login' | trans }}
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                {{ 'site.message.loggedin' | trans({'%username%': app.user.username}) }}
                                <a href="{{ path('app_logout') }}">{{ 'site.button.logout' | trans }}</a>
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="input-email">{{ 'site.label.email' | trans }}</label>
                            <input type="email" value="{{ email }}" name="email" id="input-email" class="form-control" required autofocus>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-fw fa-magic-wand-sparkles"></i>
                            {{ 'site.button.login' | trans }}
                        </button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
