{% extends "base.html.twig" %}

{% block meta_og %}
    <meta property="og:title" content="{{ category.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(path('home_category', {'category': category.id})) }}">
    <meta property="og:image" content="{{ absolute_url(asset('img/logo.jpg')) }}">
{% endblock %}

{% block content %}
    <div class="container py-3">
        <h1>{{ category.name }}</h1>

        <div class="row">
            {% for video in videos %}
                <a href="{{ path('home_video', {'video': video.id}) }}" class="col-12 col-lg-3 py-2">
                    <div class="card h-100">
                        <img src="https://img.youtube.com/vi/{{ video.video }}/hqdefault.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title">{{ video.name }}</h6>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="navigation d-flex justify-content-center py-3">
            {{ knp_pagination_render(videos) }}
        </div>
    </div>
{% endblock %}
