{% extends "base.html.twig" %}

{% block page_title -%}
    {{ video.name }} | {{ parent() }}
{%- endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ video.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(path('home_video', {'video': video.id})) }}">
    <meta property="og:image" content="https://img.youtube.com/vi/{{ video.video }}/hqdefault.jpg">
{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-lg-10">
                <div class="ratio ratio-16x9">
                    <div id="player" data-video="{{ video.video }}"></div>
                </div>
                <h3 id="page-title">
                    {{ video.name }}
                </h3>

                <a href="#" class="btn btn-outline-secondary js-share" data-title="{{ video.name }}">
                    <i class="fa fa-fw fa-share-alt"></i>
                    {{ 'site.button.share' | trans | desc('Deel') }}
                </a>

                {% if app.user %}
                    <a href="{{ path('api_video_star_video', {'video': video.id}) }}" class="btn {% if star %}btn-secondary{% else %}btn-outline-secondary{% endif %} js-star">
                        <i class="{% if star %}fa{% else %}far{% endif %} fa-fw fa-star"></i>
                    </a>
                {% endif %}

            </div>
            <div class="col-12 col-lg-2">
                <div data-url="{{ path('api_video_random_category', {'category': video.category.id}) }}" id="get-random"></div>
            </div>
        </div>
    </div>
{% endblock %}
