{% extends 'admin.html.twig' %}

{% block title %}
    Stats
{% endblock %}

{% block page_title %}
    Stats
{% endblock %}

{% block content_title %}
    Stats
{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="navigation">
            {{ knp_pagination_render(stats) }}
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'youtubeVideo.table.name' | trans }}</th>
                    <th>{{ 'youtubeVideo.table.type' | trans }}</th>
                    <th>{{ 'youtubeVideo.table.created' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in stats %}
                    <tr>
                        <td><img src="https://img.youtube.com/vi/{{ item.video.video }}/default.jpg" alt=""></td>
                        <td>
                            <a href="{{ path('admin_youtube_video_show', {'id': item.video.id}) }}">
                                {{ item.video.name }}
                            </a>
                        </td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.created ? item.created|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(stats) }}
        </div>
    </div>
{% endblock %}
